language: python

matrix:
  include:
    - os: linux
      python: "2.7"
    - os: linux
      python: "3.4"
    - os: linux
      python: "3.5"
    - os: linux
      python: "3.6"
    - os: osx
      language: generic

before_install:
  - shopt -s expand_aliases
  - if [[ $TRAVIS_OS_NAME = "osx" ]]; then alias pip=pip2; fi

install:
  - pip install coverage coveralls
  - pip install .

script:
  - coverage run --source=cudnnenv setup.py test
  - pip install flake8 && flake8

after_success:
  - coveralls
